  body{
  background: linear-gradient(to right, #6A5ACD, #800080);
  }


  main {
  /*position: relative;*/
  display: flex;
  }

  section {
  /*position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; */
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  }

  .card{
  margin: 1rem;
  padding: 1rem;
  }
  .card-title{
  margin-bottom: 2rem;}

  .card-subtitle{
  margin-bottom: 2rem;}
